.navheader {
  height: 70px;
  display: flex;
  border-radius: 1px;
  box-shadow: 0px 10px 5px rgb(233, 230, 230);
  background-color: white;
  justify-content: space-between;
  margin-right: 0;
  max-width: 100%;
  min-width: 240px;
  top: 0;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  
}
.list-options {
  list-style: none;
  padding: 0 1rem;
  color: black;
  text-decoration: none;
}
.list-options:hover{
 text-decoration: underline;
}
.nav-left,
.nav-right {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-right {
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}
.nav-left {
  padding-left: 1rem;
}
.nav-right ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
}
.nav-right li::before {
  padding-right: 2rem;
}
.nav-center {
  flex: 6;
  display: flex;
  align-items: center;
}

.glitch-text {
  font-family: ＭＳ Ｐゴシック;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(133, 130, 130, 0.75);
  text-shadow: 0.05em 0 0 rgba(56, 56, 56, 0.75),
    -0.05em -0.025em 0 rgba(194, 194, 194, 0.75),
    -0.025em 0.05em 0 rgba(224, 224, 224, 0.75);
  animation: glitch 500ms infinite;
  position: relative;
  z-index: 1;
}
.glitch-span {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch-text span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  color: rgba(139, 139, 139, 0.75);
  opacity: 0.8;
}
.glitch-text span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  color: rgba(224, 224, 224, 0.75);
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(56, 56, 56, 0.75),
      -0.05em -0.025em 0 rgba(194, 194, 194, 0.75),
      -0.025em 0.05em 0 rgba(168, 161, 161, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(56, 56, 56, 0.75),
      -0.05em -0.025em 0 rgba(194, 194, 194, 0.75),
      -0.025em 0.05em 0 rgba(224, 224, 224, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(56, 56, 56, 0.75),
      0.025em 0.025em 0 rgba(194, 194, 194, 0.75),
      -0.05em -0.05em 0 rgba(224, 224, 224, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(56, 56, 56, 0.75),
      0.025em 0.025em 0 rgba(194, 194, 194, 0.75),
      -0.05em -0.05em 0 rgba(224, 224, 224, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(56, 56, 56, 0.75),
      0.05em 0 0 rgba(194, 194, 194, 0.75),
      0 -0.05em 0 rgba(224, 224, 224, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(56, 56, 56, 0.75),
      0.05em 0 0 rgba(194, 194, 194, 0.75),
      0 -0.05em 0 rgba(224, 224, 224, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(56, 56, 56, 0.75),
      -0.025em -0.025em 0 rgba(194, 194, 194, 0.75),
      -0.025em -0.05em 0 rgba(224, 224, 224, 0.75);
  }
}

@media only screen and (max-width: 501px) {
  .nav-options {
    display: none;
  }
}
