table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .order-address p{
      padding:0.1rem;
      margin:0.1rem
  }
  .order-address{
     margin-bottom: 1rem;
      border: 2px solid black;
      max-width: 100%;
  }