.product-view {
  display: flex;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product-name {
  font-size: 2rem;
}
.product-description {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}
.product-view-right {
  padding: 1rem;
  max-width: 40%;
  
}
.product-description-content {
  margin: 0.2rem;
  text-align: justify;
}
.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .product-view-right {
    max-width: 80%;
  }
}
