.checkout-form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-items: center;
  padding-top: 1rem;
  overflow: scroll;
}

.checkout-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.address-form-err{
  color:rgb(238, 46, 46) !important;
  padding-bottom: 0.5rem;
}