.product-root {
  max-width: 100%;
  height: 500px;
}

.product-media {
  display: flex;
  margin: auto auto;
  width: 50%;
  object-fit: contain;
}
.card-actions {
  display: flex;
  opacity: 0;
  padding-right: 0.2rem;
  justify-content: center;
}
.MuiCardMedia-img {
  object-fit: contain;
}
.card-content {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
  height: 50px;
}
.cart-icon {
  display: flex;
  background-color: none;
}
.card-actions:hover {
  opacity: 1;
  background-color: none;
  padding-right: 0.2rem;
}
