.order-root{
    margin-left: 1rem;
}
.my-order{
    font-weight: 900;
    padding-left: 0.2rem;
    color:rgb(148, 148, 150)
}
.order{
    border: 1.5px solid rgb(231, 228, 228);
    width:80%;
    margin:1rem 0rem
}
.order-total{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
}
.order-id{
    background-color: rgb(231, 229, 229);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}